@import url('./main-layout.css');    html {
      --lumo-shade-5pct: rgba(33, 33, 33, 0.05);
      --lumo-shade-10pct: rgba(33, 33, 33, 0.1);
      --lumo-shade-20pct: rgba(33, 33, 33, 0.2);
      --lumo-shade-30pct: rgba(33, 33, 33, 0.3);
      --lumo-shade-40pct: rgba(33, 33, 33, 0.4);
      --lumo-shade-50pct: rgba(33, 33, 33, 0.5);
      --lumo-shade-60pct: rgba(33, 33, 33, 0.6);
      --lumo-shade-70pct: rgba(33, 33, 33, 0.7);
      --lumo-shade-80pct: rgba(33, 33, 33, 0.8);
      --lumo-shade-90pct: rgba(33, 33, 33, 0.9);
      --lumo-primary-color-50pct: rgba(76, 175, 80, 0.5);
      --lumo-primary-color-10pct: rgba(76, 175, 80, 0.1);
      --lumo-error-color-50pct: rgba(231, 24, 24, 0.5);
      --lumo-error-color-10pct: rgba(231, 24, 24, 0.1);
      --lumo-success-color-50pct: rgba(62, 229, 170, 0.5);
      --lumo-success-color-10pct: rgba(62, 229, 170, 0.1);
      --lumo-shade: hsl(0, 0%, 13%);
      --lumo-primary-color: rgb(76, 175, 80);
      --lumo-primary-text-color: rgb(56, 142, 60);
      --lumo-error-color: hsl(0, 81%, 50%);
      --lumo-error-text-color: hsl(0, 86%, 45%);
      --lumo-success-color: hsl(159, 76%, 57%);
      --lumo-success-contrast-color: hsl(159, 29%, 10%);
      --lumo-success-text-color: hsl(159, 61%, 40%);
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;

    }

.product-form-view {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      box-sizing: border-box;
      margin-top: 2em;
}

.form-layout {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 30rem;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
}

.login-textfield {
      appearance: none;
      user-select: text;
      margin: 0;
      font: inherit;
      font-weight: 400;
      line-height: normal;
      height: 20px;
      border-radius: 4px;
      padding: 3px 7px;
      border: 1px solid #c9c9c9;
      background: white;
      color: #474747;
      width: 185px;
}

.login-textfield:focus {
      outline: none;
      border-color: #00506A;
}

.backdrop {
      background-image: url("../../../src/main/resources/images/hulk_wallpaper.jpg");
      background-position: center;
      background-size: cover;
      display: flex;
      height: 500px;
}
.vaadin-login-overlay {
      align-items: center;
      display: flex;
      max-width: 300px;
}
.vaadin-login-overlay-wrapper {
      background-image: none;
}